#chatbot {
  position: absolute;
  animation: chatbot-movement 2s infinite alternate;
  animation: none;
}

#bg {
  animation: fadeInAnimation ease 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  position: fixed;
  background-color: black;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  opacity: 1;
  z-index: 1000;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes chatbot-movement {
  0% {
    transform: translateX(0) translateY(0);
  }

  100% {
    transform: translateX(100%) translateY(100%);
  }
}

.bot {
  position: relative;
  height: 400px;
  width: 300px;
  background-color: aqua;
  margin-top: 50px;
}

/*bot accessorcries i cant spell*/
.hat {
  position: absolute;
  height: 200px;
  width: 200px;
  animation: tophat 2s infinite alternate 1s;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

.tophat {
  position: absolute;
  background-color: black;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
}

#bottom {
  height: 30px;
  width: 110px;
  top: 75px;
  border-radius: 10px 10px 0 0;
}

#top {
  height: 100px;
  width: 65px;
}

@keyframes tophat {
  0% {
    transform: rotate(0deg);
    z-index: 10;
  }

  100% {
    transform: rotate(40deg) translateX(30px) translateY(-50px);
    z-index: 10;
  }
}

/*bot face*/
.bot-face {
  height: 150px;
  width: 250px;
  position: absolute;
  top: 65px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  z-index: 10;
}

/*eyes*/
.eye {
  height: 40px;
  width: 70px;
  border-radius: 0 0 35px 35px;
  position: absolute;
  background-color: black;
  top: 70px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#left-eye {
  left: -100px;
  animation: left-eye-20 2s infinite alternate;
}

#right-eye {
  left: 100px;
  animation: right-eye-20 2s infinite alternate;
}

@keyframes left-eye-20 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(20deg);
    height: 10px;
    border-radius: 0;
  }

  100% {
    transform: rotate(-20deg);
  }
}

@keyframes right-eye-20 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-20deg);
    height: 10px;
    border-radius: 0;
  }

  100% {
    transform: rotate(20deg);
  }
}

/*mouth*/
.mouth {
  height: 10px;
  width: 25px;
  position: absolute;
  background-color: black;
  top: 125px;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
}

#left-mouth {
  left: -12px;
  animation: left-mouth-30 2s infinite alternate;
  border-radius: 0 15px 15px 0;
}

#right-mouth {
  left: 12px;
  animation: right-mouth-30 2s infinite alternate;
  border-radius: 15px 0 0 15px;
}

@keyframes left-mouth-30 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

@keyframes right-mouth-30 {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(30deg);
  }

  100% {
    transform: rotate(-30deg);
  }
}

/*head*/
.bot-head {
  position: relative;
  width: 250px;
  color: orange;
  filter: url("#goo");
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
}

.bot-head::before {
  content: "";
  display: block;
  padding-top: 86%;
  background: currentColor;
  clip-path: polygon(50% 25%, 100% 100%, 0 100%);
  filter: drop-shadow(10px 20px 16px 20px #888888);
}

/*ears*/
.ear {
  top: 75px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 75px solid rgb(231, 157, 20);
}

#left-ear {
  left: -20px;
  rotate: -52deg;
}

#right-ear {
  left: 170px;
  rotate: 52deg;
}

/*body*/
.bot-body {
  height: 100px;
  width: 125px;
  background-color: blueviolet;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20% 20% 50% 50%;
  overflow: hidden;
  position: relative;
}

.jacket {
  height: 200px;
  width: 200px;
  background-color: black;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  z-index: 5;
}

#body-detail1 {
  left: 55px;
}

#body-detail2 {
  left: -130px;
}

.jacket-button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: white;
  z-index: 10;
  position: absolute;
  left: 0;
  right: 0;
  margin: auto;
}

#body-detail3 {
  top: 40px;
}

#body-detail4 {
  top: 60px;
}

#body-detail5 {
  top: 80px;
}

/*foot*/
.bot-foot {
  margin-top: -30px;
  height: 50px;
  width: 75px;
  background-color: brown;
  margin-left: auto;
  margin-right: auto;
  border-radius: 50%;
}

#pause-animation-btn {
  background-color: aquamarine;
  border: 2px solid black;
}

.paused {
  animation-play-state: paused !important;
}
