*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@keyframes move-eye-skew {
  0% {
    transform: none;
  }
  20% {
    transform: translateX(-68px) translateY(30px) skewX(15deg) skewY(-10deg)
      scale(0.95);
  }
  25%,
  44% {
    transform: none;
  }
  50%,
  60% {
    transform: translateX(68px) translateY(-40px) skewX(5deg) skewY(2deg)
      scaleX(0.95);
  }
  66%,
  100% {
    transform: none;
  }
}

body {
  background-color: black;
  position: relative;
  width: 100vw;
  height: 100vh;
  height: calc(100vh - var(--vh));
}

#container {
  scale: 0.55;
  position: absolute;
  animation: move 5s ease-out infinite;
  animation-direction: alternate;
}

#container:has(.iris.sleep) {
  animation: none;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes move {
  0% {
    translate: 0% 0%;
  }
  100% {
    translate: 100% 100%;
  }
}

.ball {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
  background: radial-gradient(
    circle at 47.5% 45%,
    #eeeeee,
    #dddddd 66%,
    #232c2b 100%
  );
  box-shadow: 0px 0px 3px #00000040;
}

.ball:after {
  content: "";
  position: absolute;
  top: 5%;
  left: 10%;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.85) 14%,
    rgba(255, 255, 255, 0) 24%
  );
  transform: translateX(-80px) translateY(-90px) skewX(-20deg);
}

.iris {
  width: 40%;
  height: 40%;
  margin: 30%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 50%,
    #414141 0%,
    #434343 30%,
    #000000 100%
  );
  transform: translateX(68px) translateY(-60px) skewX(15deg) skewY(2deg);
  position: absolute;
  animation: move-eye-skew 5s ease-out infinite;
}

.iris:before {
  content: "";
  display: block;
  position: absolute;
  width: 37.5%;
  height: 37.5%;
  rotate: 45deg;
  border-radius: 10px;
  top: 31.25%;
  left: 31.25%;
  background: radial-gradient(
    circle at 50% 50%,
    #208ab4 0%,
    #6fbfff 30%,
    #4381b2 100%
  );
  box-shadow: 0px 0px 50px #4381b2;
}

.iris.sleep {
  transform: none;
  animation: none;
}

.iris.sleep::after {
  content: "z";
  position: absolute;
  color: #208ab4;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  right: -100%;
  top: -100%;
  animation: sleep 2s ease-in-out infinite,
    randomMove 2s ease-in-out infinite alternate;
}

.iris.sleep::before {
  content: "z";
  background: transparent;
  box-shadow: none;
  display: inline;
  position: absolute;
  color: #208ab4;
  font-weight: bold;
  font-size: 5vw;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  rotate: 0deg;
  top: -80%;
  left: 125%;
  animation: sleep2 1.25s ease-in-out infinite,
    randomMove 1.5s ease-in-out infinite alternate-reverse;
}

@keyframes sleep2 {
  from {
    top: -80%;
    left: 125%;
    opacity: 1;
  }
  to {
    top: -125%;
    left: 150%;
    opacity: 0;
  }
}

@keyframes sleep {
  from {
    right: -100%;
    top: -100%;
    opacity: 1;
  }
  to {
    right: -150%;
    top: -150%;
    opacity: 0;
  }
}

@keyframes randomMove {
  from {
    rotate: -25deg;
  }
  to {
    rotate: 25deg;
  }
}

.ball .shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at 50% 50%,
    rgba(0, 0, 0, 0.4),
    rgba(0, 0, 0, 0.1) 40%,
    rgba(0, 0, 0, 0) 50%
  );
  transform: rotateX(90deg) translateZ(-150px);
  z-index: -1;
}
.stage {
  width: 275px;
  height: 275px;
  display: inline-block;
  margin: 20px;
  perspective: 1200px;
  perspective-origin: 50% 50%;
  transform-style: preserve-3d;
  transform: rotateY(0.01deg);
  position: relative;
}
